* {
	/*border: 2px dashed yellow;*/
}

body {
	height: 200vh;
	max-width: 100vw;
	overflow: hidden;
	background-color: black;
}

#ultrasound {
	margin: 30px 0 0 0;
	margin: 15vh 0 0 0;
	overflow: hidden;
	background-color: black;
	color: white;
}

#header {
    width: 100%;
    width: 100vw;
    z-index: 1;
    position: absolute;
    margin: 60px 0 60px -10px;
    margin: 10vh 0 10vh -10px;
    text-align: center;
    display: block;
    font-size: 50px;
    font-size: 8vw;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
    color: #fff;
}
#header div span {
    color: #009999;
    font-weight: 800;
    letter-spacing: 2px;
}
img {
    position: absolute;
	z-index: 0;
	margin: -20px -30px 0 -20px;
	margin: -10vh -10vw 0 -10vw;
	width: 130%;
	width: 120vw;
	-webkit-filter: brightness(15%);
	-webkit-filter: blur(20px);
}


#sex {
    border: 2px solid yellow;
    top: 110%;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    border: 2px solid #009999;
    border-radius: 10px;
}
#sex:hover, #sex:focus {
    border: none;
    background: rgba(0, 153, 153, 0.5);
    /*background: rgba(36, 39, 44, 0.5);*/
    color: black;
}
#sex div {
    position: absolute;
    top: 45%;
    line-height: 20%;
    width: 80%;
    left: 10%;
}




/*768px is the width of screens that bootstrap classifies as xs*/
@media screen and (max-width: 768px) {

}

/*990px is the width of screens that bootstrap classifies as md*/
/*see https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries*/
@media screen and (max-width: 990px) { 

	/*for the ultrasound background*/
	img {
		margin: -20px -30px -20px -40px;
		-webkit-filter: blur(5px);
	}
	#ultrasound {
		margin: 50px 0 0 0;
		margin: 20vh 0 0 0;
	} /*end ultrasound bagkround */
    #header {
        margin: 30px 0 0 0;
        margin: 5vh 0 0 0;
        font-size: 50px;
        font-size: 8vw;
        letter-spacing: 1px;
    }

    /*for the boy or girl button*/
    #sex {
        font-size: 50px;
        font-size: 6vw;
        letter-spacing: 1px;
    }
}



.navbar-default .navbar-brand {
    font-family: Helvetica,Arial,cursive;
    color: #009999;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #009999;
    background-color: #009999;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #009999;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #009999;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #009999;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-default {
    border-color: transparent;
    background-image: none;
    background-color: black;
}

