* {
	/*border: 2px dashed yellow;*/
}

body {
    height: 300%;
	height: 300vh;
	max-width: 100vw;
	overflow: hidden;
	background-color: black;
}

#ultrasound {
	margin: 30px 0 0 0;
	margin: 15vh 0 0 0;
	overflow: hidden;
	background-color: black;
	color: white;
}
#top-of-page {
    position: absolute;
    top: 0%;
}
#header {
    width: 100%;
    width: 100vw;
    z-index: 1;
    position: absolute;
    margin: 60px 0 60px -10px;
    margin: 10vh 0 10vh -10px;
    text-align: center;
    display: block;
    font-size: 50px;
    font-size: 8vw;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
    color: #fff;
}
#header div span {
    color: #009999;
    font-weight: 800;
    letter-spacing: 2px;
}
#ultrasound-pic {
    position: absolute;
	z-index: 0;
	margin: -20px -30px 0 -20px;
	margin: -10vh -10vw 0 -10vw;
	width: 130%;
	width: 120vw;
    /*http://demosthenes.info/blog/534/Cross-browser-Image-Blur-with-CSS*/
    -webkit-filter: blur(20px); 
    -moz-filter: blur(20px); 
    -o-filter: blur(20px); 
    -ms-filter: blur(20px); 
    filter: url(blur.svg#blur);
}
#sex-page-marker {
    position: absolute;
    top: 80%;
    top: 80vh;
}
#sex {
    top: 100%;
    top: 100vh;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    border: 2px solid #009999;
    border-radius: 10px;
}
#sex:hover, #sex:focus {
    border: none;
    background: rgba(0, 153, 153, 0.5);
    /*background: rgba(36, 39, 44, 0.5);*/
    color: black;
}
#sex div {
    position: absolute;
    top: 45%;
    line-height: 20%;
    width: 80%;
    left: 10%;
}
#btn-container {
    width: 100vw;
    position: absolute;
    margin-top: 20%;
    margin-top: 35vh;
    top: 200%;
    top: 200vh;
    z-index: 1;
}

#faq-content-marker {
    position: absolute;
    /*the property "top" is not specified here because it is being taken care of by jQuery*/
}

#faq-content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    /*the property "top" is not specified here because it is being taken care of by jQuery*/
    text-align: left;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #009999;
    font-size: 40px;
    font-size: 4vw;
    border: 2px solid #009999;
    border-radius: 10px;
}

#faq-content .question {
    font-family: 'Lato', sans-serif;
        text-transform: none;
    font-size: 20px;
    font-size: 3vw;
    letter-spacing: 1px;
    color: #fff;
}

#faq-content .answer {
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    color: gray;
    font-size: 20px;
    font-size: 3vw;
    text-transform: none;
    display: none;
}

/*left-aligns the questions in the FAQs section*/
#left-align {
    text-align: left;
    padding: 0 10px 0 10px;
}







/*/////////////////////Gabe's navbar code////////////////////////////////////////*/

.navbar-default .navbar-brand {
    font-family: Helvetica,Arial,cursive;
    color: #009999;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #009999;
    background-color: #009999;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #009999;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #009999;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #009999;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-default {
    border-color: transparent;
    background-image: none;
    background-color: black;
}

/*///////////end Gabe's navbar code///////////////////////////////////////////////////*/




/*///////////BEGIN ZOOM-IN BUTTON CODE////////////////////////////////////////////////*/
.view {
    margin-left: 6.25%;
    margin-left: 6.25vw;
    overflow: hidden;

    text-align: center;
    cursor: default;
    border-radius: 10px;
    border: 2px solid rgb(0,153,153);
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {

    margin-left: -20px;
    padding: 0;
    height: 100%;
    display: block;
    position: relative
}
.view h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 20px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 5%;
}
.view a.info:hover {
    background: black;
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0,153,153, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.1s;
}
.registry-icon img {
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 5px;
    bottom: 10%;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.icon-1 img {
    margin-left: 0;
    left: 20%;
}
.icon-2 img {
    right: 20%;
}
.registry-icon img:hover {
    opacity: 1;
    transition-delay: 0.1s;
}
/*////////////////END ZOOM IN BUTTON CODE///////////////////////////*/



/*990px is the width of screens that bootstrap classifies as md*/
/*see https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries*/
@media screen and (max-width: 990px) { 

    /*for the ultrasound background*/
    #ultrasound-pic {
        margin: -20px -30px -20px -40px;
        -webkit-filter: blur(5px);
    }
    #ultrasound {
        margin: 50px 0 0 0;
        margin: 20vh 0 0 0;
    } /*end ultrasound bagkround */
    #header {
        margin: 30px 0 0 0;
        margin: 5vh 0 0 0;
        font-size: 50px;
        font-size: 8vw;
        letter-spacing: 1px;
    }

    /*for the boy or girl button*/
    #sex {
        font-size: 50px;
        font-size: 6vw;
        letter-spacing: 1px;
    }

    /*ensures that the registry, puppy, and FAQ's buttons remain centered*/
    .view {
        margin-bottom: 20%;
        margin-bottom: 20vh;
    }
    /* fixes font in registry, puppy, FAQ's*/
    .view p {
        font-size: 10px;
    }
}

/*768px is the width of screens that bootstrap classifies as xs*/
@media screen and (max-width: 768px) {

    /*ensures that the registry, puppy, and FAQ's buttons remain centered*/
    .view {
        margin-bottom: 20%;
        margin-bottom: 20vh;
    }
    /* fixes font in registry, puppy, FAQ's*/
    .view p {
        font-size: 10px;
    }


}