* {
	/*border: 2px dashed yellow;*/
}

body {
	height: 300vh;
	max-width: 100vw;
	overflow: hidden;
	background-color: black;
}

#ultrasound {
	margin: 30px 0 0 0;
	margin: 15vh 0 0 0;
	overflow: hidden;
	background-color: black;
	color: white;
}

#header {
    width: 100%;
    width: 100vw;
    z-index: 1;
    position: absolute;
    margin: 60px 0 60px -10px;
    margin: 10vh 0 10vh -10px;
    text-align: center;
    display: block;
    font-size: 50px;
    font-size: 8vw;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
    color: #fff;
}
#header div span {
    color: #009999;
    font-weight: 800;
    letter-spacing: 2px;
}
#ultrasound-pic {
    position: absolute;
	z-index: 0;
	margin: -20px -30px 0 -20px;
	margin: -10vh -10vw 0 -10vw;
	width: 130%;
	width: 120vw;
	-webkit-filter: brightness(15%);
	-webkit-filter: blur(20px);
}


#sex {
    margin-top: 20%;
    margin-top: 35vh;
    top: 100%;
    top: 100vh;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    border: 2px solid #009999;
    border-radius: 10px;
}
#sex:hover, #sex:focus {
    border: none;
    background: rgba(0, 153, 153, 0.5);
    /*background: rgba(36, 39, 44, 0.5);*/
    color: black;
}
#sex div {
    position: absolute;
    top: 45%;
    line-height: 20%;
    width: 80%;
    left: 10%;
}

#btn-container {
    width: 100vw;
    position: absolute;
    margin-top: 20%;
    margin-top: 35vh;
    border: 2px solid yellow;
    top: 200%;
    top: 200vh;
    z-index: 1;
}




/*768px is the width of screens that bootstrap classifies as xs*/
@media screen and (max-width: 768px) {

    /*ensures that the registry, puppy, and FAQ's buttons remain centered*/
    .view {
        margin-left: 0;
        margin-bottom: 20%;
        margin-bottom: 20vh;

    }

}

/*990px is the width of screens that bootstrap classifies as md*/
/*see https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Media_queries*/
@media screen and (max-width: 990px) { 

	/*for the ultrasound background*/
	#ultrasound-pic {
		margin: -20px -30px -20px -40px;
		-webkit-filter: blur(5px);
	}
	#ultrasound {
		margin: 50px 0 0 0;
		margin: 20vh 0 0 0;
	} /*end ultrasound bagkround */
    #header {
        margin: 30px 0 0 0;
        margin: 5vh 0 0 0;
        font-size: 50px;
        font-size: 8vw;
        letter-spacing: 1px;
    }

    /*for the boy or girl button*/
    #sex {
        font-size: 50px;
        font-size: 6vw;
        letter-spacing: 1px;
    }

    /*ensures that the registry, puppy, and FAQ's buttons remain centered*/
    .view {
        margin-left: 0;
        margin-bottom: 20%;
        margin-bottom: 20vh;

    }
}

/*/////////////////////Gabe's navbar code////////////////////////////////////////*/

.navbar-default .navbar-brand {
    font-family: Helvetica,Arial,cursive;
    color: #009999;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #009999;
    background-color: #009999;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #009999;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #009999;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #009999;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-default {
    border-color: transparent;
    background-image: none;
    background-color: black;
}

/*///////////end Gabe's navbar code///////////////////////////////////////////////////*/

.view {
    margin-left: 6.25%;
    margin-left: 6.25vw;

    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    height: 100%;
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}